# IDEs and Editors
.vscode/
.idea/
*.swp
*.lock

# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build and Logs
dist/
build/
*.log

# Test Artifacts (Ignore results, keep the code)
/test-results/
/playwright-report/
/coverage/
.nyc_output

# Environment variables
.env
.env.local
.env.*.local
